@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

* {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#nprogress .bar {
    height: 5px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.page-wrapper {

    .content-wrapper {

        .container-wrapper {
            position: relative;

            > div {
                min-height: 200vh;
            }
        }
    }
}

#index {

    .site-brand {
        position: absolute;
        width: 100%;
        height: 160px;
        background: linear-gradient(180deg, rgba(21, 21, 25, 0.98) 0%, rgba(21, 21, 25, 0) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: 'Merriweather', serif;
        
        h1 {
            font-size: 3.75rem;
            letter-spacing: -0.225rem;
        }
    }
    .hero {
        height: 800px;
        background-image: url('/images/stock/shutterstock_528831091-min.jpg');
        background-size: cover;
        background-position: center center;
    }
}