// header {
//     background: #202020;
//     color: white;
//     // position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 100;

//     .navbar-brand {

//         a {
//             color: white;
//         }
//     }
    
// }
header {
    background: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6875rem;
    letter-spacing: 2px;
    line-height: 1.18;

    .navbar {
        padding: 0;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    
    .navbar-brand {
        width: 100px;
        margin: 0;
        display: flex;
        justify-content: center;
        border-right: 1px solid #212128;

        img {
            height: 30px;
            width: 30px;
        }
    }
    .navbar-nav {
        width: 100%;
        
        > div {
            width: 100%;
            text-align: center;
            // opacity: 0.5;
            border-right: 1px solid #4f4f55;
            height: 47px;
            justify-content: space-between;
            align-items: center;
            display: flex;

            a {
                width: 140px;
                margin: auto;
                color: rgba(255,255,255,0.5);
            }
            
            .dropdown {
                width: 140px;
                margin: auto;

                &.show {
                    position: initial;

                    .show {
                        width: 100%;
                    }
                }

                a {
                    // color: white !important;
                }
            }
        }

        > div.opacity-1 {

            .dropdown {
                
                > a {
                    color: rgba(255,255,255,0.5);

                    &:hover {
                        color: rgba(255,255,255,0.5);
                    }
                    &:active {
                        color: rgba(255,255,255,0.5);
                    }
                    &:focus {
                        color: rgba(255,255,255,0.5);
                    }
                    &:focus-within {
                        color: rgba(255,255,255,0.5);
                    }
                    &:visited {
                        color: rgba(255,255,255,0.5);
                    }
                }

                .dropdown-menu {
                    background: black;
                    border-radius: 0;
                    border: none;
                    margin: 0;

                    .dropdown-item {
                        color: white;
                        width: auto !important;
                    }
                }

                
            }
        }
    }
    .social-links {
        width: 100px;
        display: flex;
        height: 47px;

        .social-icon {
            width: 50%;
            border-right: 1px solid #4f4f55;
            display: flex;
            align-items: center;
            justify-content: center;
            
            a {
                color: rgb(255,255,255);
                opacity: 0.5;
                border: 1px solid #82828b;
                padding: 7px;
                width: 29px;
                height: 29px;
                text-align: center;
                border-radius: 9999px;
            }
        }
    }
}